h1 {
  font-size: 50px;
  padding: 0px 100px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.2);
  border-radius: 5px;
  margin: 50px 150px;
  padding: 50px 50px;
  border: 2px solid rgb(214, 213, 213);
  border-radius: 10px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.2);
  border-radius: 5px;
  margin: 50px 150px;
  padding: 50px 50px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: black;
  color: white;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.2);
  border-radius: 5px;
  margin: 50px 150px;
  padding: 50px 50px;
  border: 2px solid rgb(214, 213, 213);
  border-radius: 10px;
}

.redframe {
  background-color: rgb(247, 152, 152);
  padding: 5px 5px;
}

.card4 {
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.2);
  border-radius: 5px;
  margin: 50px 150px;
  padding: 50px 50px;
  border: 2px solid rgb(38, 59, 243);
  border-radius: 10px;
}

.column {
  float: left;
  width: 30%;
  padding: 20px 20px;
  text-align: center;
  margin: 100px 0px;
}

.row {
  margin: 0px -50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
